<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c953e433-1ac9-42b6-97dd-5f8e6bc9ad0e/resourceGroups/appdev-rg-dev-ae-musicdb/providers/Microsoft.Web/sites/appdev-app-dev-ae-musicdb</ResourceId>
    <ResourceGroup>appdev-rg-dev-ae-musicdb</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://appdev-app-dev-ae-musicdb-gfgacvg9g7fbdhas.australiaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e50a5f12-d157-dd0c-b530-e4a7cf08bb07</ProjectGuid>
    <PublishUrl>https://appdev-app-dev-ae-musicdb-gfgacvg9g7fbdhas.scm.australiaeast-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>