<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicDB</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/artists.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/records.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/discs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicDB.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark site-navbar mb-3">
            <div class="container">
                <a class="navbar-brand site-navbar-brand" asp-area="" asp-page="/Index">
                    <span class="brand-icon">🎵</span> MusicDB
                </a>
                <button class="navbar-toggler site-navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link site-nav-link" asp-area="" asp-page="/Search/Index">Search</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link site-nav-link dropdown-toggle" href="#" id="maintenanceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Maintenance
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="maintenanceDropdown">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Artists</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Artists/Index">Index</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Artists/Create">Create</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Artists/Edit">Edit</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Artists/Delete">Delete</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Records</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Records/Index">Index</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Records/Create">Create</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Records/Edit">Edit</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Records/Delete">Delete</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Disc</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Discs/Index">Index</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Discs/Create">Create</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Discs/Edit">Edit</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Discs/Delete">Delete</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item dropdown-toggle" href="#">Tracks</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Tracks/Index">Index</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Tracks/Create">Create</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Tracks/Edit">Edit</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Tracks/Delete">Delete</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link site-nav-link dropdown-toggle" href="#" id="statisticsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Statistics
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="statisticsDropdown">
                                <li class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-page="/Statistics/Totals">Artist Totals</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-page="#">Next option</a></li>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - MusicDB - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
